@font-face {
  font-family: 'Roboto';
  src: url("../public/assets/Roboto-Regular.ttf")
}

:root {

  --main-green: #41AA75;
  --button-text: white;
  --button-text-hover: rgb(214, 214, 214);
  --button-hover: #3a8f65;

  /*
  --page-bg: #white;
  --font-grey: #5A5A5A;
  --inactive-green: #B5C5B5;
  --footer-text: #e4e4e4;
  --string-bg: #F5F6F6;
  --placeholder: #A7A7A7;
  --block-shadow: rgba(173, 185, 173, 0.25);
  --timeline-url: url('../public/assets/timelineLight.svg');
  */

  --page-bg: #121212;
  --font-grey: #afafaf;
  --inactive-green: #585f58;
  --footer-text: #262626;
  --string-bg: #212322;
  --placeholder: #434343;
  --block-shadow: rgba(32, 39, 32, 0.2);
  --timeline-created-url: url('../public/assets/timelineCreatedDark.svg');
  --timeline-processing-url: url('../public/assets/timelineProcessingDark.svg');
  --timeline-transit-url: url('../public/assets/timelineTransitDark.svg');
  --timeline-delivered-url: url('../public/assets/timelineDeliveredDark.svg');

}


html {
  height: 100%;
}

.App {
  font-family: 'Roboto', sans-serif;
  color: var(--font-grey);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--page-bg);
}

a {
  text-decoration: none;
  color: var(--font-grey);
}

.header {
  margin-top: 30px;
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 770px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.logoSvg {
  width: 34px;
  margin-right: 8px;
}

.logoTitle {
  font-size: 20px;
}

.menuItem {
  color: var(--inactive-green);
  font-size: 14px;
  text-decoration: none;
}

.menuItem:hover {
  color: var(--font-grey);
  font-size: 14px;
}

.menuItemCurrent {
  font-size: 14px;
  background: linear-gradient(to left, var(--main-green), var(--main-green) 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.block {
  width: 100%;
  height: 260px;
  margin-top: 100px;
  background-color: var(--string-bg);
  box-shadow: 0px 40px 40px -20px var(--block-shadow);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockText {
  margin: 40px;
  font-size: 30px;
}

.blockButton {
  width: 264px;
  height: 61px;
  background: var(--main-green);
  box-shadow: 0px 30px 25px -20px rgba(65, 170, 117, 0.28);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--button-text);
  border: 0;
  cursor: pointer;
}

.blockButton:hover {
  width: 264px;
  height: 61px;
  background: var(--button-hover);
  box-shadow: 0px 30px 25px -20px rgba(54, 138, 96, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--button-text-hover);
}

.blockButtonLink {
  margin: 0 40px 40px auto;
  border-radius: 20px;
}

.blockButtonLink2 {
  margin-top: 42px;
  border-radius: 20px;
}

.footer {
  color: var(--footer-text);
  font-size: 16px;
  margin-top: auto;
  padding-top: 25px;
  margin-bottom: 3px;
  bottom: 0;
}

.pageTitle {
  font-size: 30px;
  margin-top: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

.formString {
  width: 100%;
  margin-top: 26px;
}

.stringTitle {
  font-size: 16px;
}

.stringBack {
  margin-top: 4px;
  flex: 1;
  height: 48px;
  background-color: var(--string-bg);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stringIcon {
  width: 25px;
  margin-left: 11px;
  margin-right: 8px;
}

.stringInput {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--font-grey);
  outline-offset: 0;
  font-size: 26px;
  flex: 1;
  margin-right: 11px;
  width: 100%
}

.stringInput :active :hover :focus {
  background-color: transparent;
  color: var(--font-grey);
  border: 0;
  outline: 0;
  outline-offset: 0;
  font-size: 26px;
  flex: 1;
  margin-right: 11px;
  width: 100%
}

.sizeStrings {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sizeSeparator {
  width: 86px;
}

.ifDelictate {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.checkboxTitle {
  font-size: 26px;
  margin-left: 11px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--string-bg);
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.checkbox:checked+label::before {
  background-color: var(--string-bg);
  background-image: url("../public/assets/checkbox.svg");
}

.checkbox:disabled+label::before {
  background-color: var(--string-bg);
}

.blockCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-input-placeholder {
  color: var(--placeholder);
}

:-moz-placeholder {
  color: var(--placeholder);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--placeholder);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--placeholder);
}

::-ms-input-placeholder {
  color: var(--placeholder);
}

::placeholder {
  color: var(--placeholder);
}

.statusBlock {
  margin-top: 72px;
}

.statusInfo {
  display: flex;
  justify-content: space-between;
  width: 684px;
}

.statusTitleHolder {
  width: 0px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.statusDateHolder {
  width: 0px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.statusTitleActive {
  font-size: 16px;
  position: absolute;
}

.statusTitlePassive {
  font-size: 16px;
  position: absolute;
  color: var(--inactive-green);
}

.statusLineCreated {
  width: 714px;
  background-image: var(--timeline-created-url);
  height: 30px;
}

.statusLineProcessing {
  width: 714px;
  background-image: var(--timeline-processing-url);
  height: 30px;
}

.statusLineTransit {
  width: 714px;
  background-image: var(--timeline-transit-url);
  height: 30px;
}

.statusLineDelivered {
  width: 714px;
  background-image: var(--timeline-delivered-url);
  height: 30px;
}

.predictionDate {
  margin-top: 60px;
  font-size: 16px;
}

.contactList {
  margin-top: 37px;

}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contactIcon {
  width: 30px;
  display: flex;
  justify-content: center;
}

.contactSvg {
  height: 30px;
}

.contactTitle {
  font-size: 23px;
  margin-left: 21px;
}

.routeLine {
  width: 749px;
}

.routeBlock {
  margin-top: 42px;
}

.routeInfo {
  display: flex;
  justify-content: space-between;
  width: 717px;
}

.zipcode {
  font-size: 16px;
  position: absolute;
}

.distance {
  position: absolute;
  margin-top: 23px;
  font-size: 18px;
}

.parcelInfo {
  font-size: 18px;
  margin-top: 50px;
}

.parcelInfoList {
  margin-left: 10px;
  margin-top: 10px
}

.parcelInfoItem {
  font-size: 16px;
  margin-bottom: 4px;
}

.priceLine {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.pricePrefix {
  font-size: 25px;
}

.price {
  font-weight: 800;
  font-size: 25px;
  margin-left: 8px;
  background: linear-gradient(to left, var(--main-green), var(--main-green) 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.orderNumberBlock {
  margin-top: 50px;
}

.orderNumberPrefix {
  font-size: 20px;
}

.orderNumberLine {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.orderNumberIcon {
  width: 33px;
}

.orderNumber {
  margin-left: 11px;
  font-size: 40px;
}

.Error404 {
  font-size: 200px;
  color: var(--string-bg);
  margin-top:100px;
}

.Error404Text {
  font-size: 30px;
  color: var(--string-bg);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 155px;
  height: 155px;
  margin-top: 100px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 55px;
  border: 5px solid var(--main-green);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-green) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.orderNumberPlaceholder {
  width: 225px;
  height: 39px;
  margin-left: 11px;
  margin-top: 4.9px;
  margin-bottom: 4.9px;
  border-radius: 6px;
  background-color: var(--placeholder);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, var(--string-bg) 8%, var(--placeholder) 18%, var(--string-bg) 33%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.inputError {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid rgb(151, 62, 62) 2px ;
}